<ion-content class="gradient" no-bounce>
    <ion-grid>
        <div class="loginTitle"></div>
        <ion-row>
            <ion-col col-12 col-md-8 col-lg-6 col-xl-4 class="loginForm">
                <h1 class="loginText">Admin Panel</h1>
                <form [formGroup]="loginForm">
                    <ion-item>
                        <ion-label floating>Username</ion-label>
                        <ion-input formControlName="username" type="text"></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label floating>Password</ion-label>
                        <ion-input formControlName="password" type="password"></ion-input>
                    </ion-item>
                    <button ion-button color="orangeA" (click)="signIn()" [disabled]="!loginForm.valid">Sign In</button>
                    
                    <!-- <h2 class="line"><span>or</span></h2> -->

                    <button ion-button color="dark" (click)="guestLogin()">Sign In as Guest</button>
                </form>            
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
