page-login {
    ion-content {
        //background-image: url('../../assets/images/s_Peak_blank.jpg');
        background-image: linear-gradient(45deg, #c94b4b, #4b134f);
        background-repeat: no-repeat;
        background-size: cover;
    }
    

    ion-row {
        justify-content: center;
        margin-top:30px;
    }
    
    ion-grid {     
        height: 90%;
        justify-content: center;
    }

    .loginTitle {  
        margin:0 auto; 
        margin-top:30px;
        background-image: url('../assets/images/Logo-white.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        width: 30%;
        height: 10%;
    }

    .loginText {
        text-align: center;
        background-color: transparent;
        color: white;
    }

    // .gradient { 

    //       /* can be treated like a fallback */
    //       background-color: #4b134f;
            
    //       /* will be "on top", if browser supports it */
    //       background-image: linear-gradient(45deg, #4b134f, #c94b4b);
        
    //       /* these will reset other properties, like background-position, but it does know what you mean */
    //       background: #4b134f;
    //       background: linear-gradient(45deg, #4b134f, #c94b4b);
        
    // }

    .loginForm {
        background-color: rgba(255,255,255,0.2);
        box-shadow: 0px 0px 44px #000;
        form {
            width: 70%;
            margin: 0 auto;
            text-align: center;
            button {
                margin-top: 30px;
                width: 80%;
            }
            ion-item {
                background-color: rgba(0, 0, 0, 0);
                padding-right: 16px;    
            }
        }
    }

    h2 {
        font: 33px sans-serif;
        margin-top: 30px;
        text-align: center;
    }
    
    h2.line {
        position: relative;
        z-index: 1;
        
        &:before {
            border-top: 2px solid #dfdfdf;
            content:"";
            margin: 0 auto; /* this centers the line to the full width specified */
            position: absolute; /* positioning must be absolute here, and relative positioning must be applied to the parent */
            top: 50%; left: 0; right: 0; bottom: 0;
            width: 95%;
            z-index: -1;
        }
    
        span { 
            /* to hide the lines from behind the text, you have to set the background color the same as the container */ 
            background: none; 
            padding: 0 15px; 
        }
    }
    
    
}