page-dashboard {

  .bar-button-menutoggle {
    color: white;
  }
  .backButton {
    color: white;
  }
  .toolbar-background {
    //background-color: rgba(240,240,240,1);
    /* can be treated like a fallback */
    background-color: #4b134f;
    /* will be "on top", if browser supports it */
    background-image: linear-gradient(45deg, #c94b4b, #4b134f);
    /* these will reset other properties, like background-position, but it does know what you mean */
    background: #4b134f;
    background: linear-gradient(45deg, #c94b4b  , #4b134f);
  }
  .toolbar-title {
    color: white;
  }

  ion-title {
    :first-letter {
      text-transform:capitalize;
    }
  }

   
}