<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Dashboard Page</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ngx-charts-number-card [scheme]="colorScheme" [results]="single" (select)="onSelect($event)">
        </ngx-charts-number-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ngx-charts-bar-vertical [view]="view" [scheme]="colorScheme" [results]="singleHistogram" [gradient]="gradient" [xAxis]="showXAxis"
          [yAxis]="showYAxis" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel"
          [yAxisLabel]="yAxisLabel" (select)="onSelect($event)">
        </ngx-charts-bar-vertical>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ngx-charts-pie-grid [view]="view" [scheme]="colorScheme" [results]="singlePieChart" (select)="clickPie($event)">
        </ngx-charts-pie-grid>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>