<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Map Clusters</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <div #pleaseConnect id="please-connect">
    <p>Please connect to the Internet...</p>
  </div>

  <div #map id="map" style="width:100%;height:100%;"></div>

</ion-content>