<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      {{ inputIsNaN ? "Occupations" : categoryTypes[searchInput.length] }} 
      {{ !inputIsNaN ? searchInput.length < 4 ? "Categories" : '' : ''}}
    </ion-title>

    <ion-buttons end>
      <button ion-button menuToggle>
        <ion-icon name="contact" end></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-searchbar 
    [placeholder]="searchPlaceholder" 
    [debounce]="400" 
    [(ngModel)]="searchInput" 
    (ionInput)="searchItems($event)" 
    [showCancelButton]="shouldShowCancel">
  </ion-searchbar>
</ion-header>

<ion-content class="gradient">
  <ion-grid>
    <ion-row class="card-background-page" *ngIf = "categories.length > 0 && this.searchInput.length < 4">
      <ion-col col-12 col-md-6 col-lg-4 col-xl-3 *ngFor="let category of categories; let i = index;">
        <ion-card (click)="categoryExtendByClick(category.codeISCO)">
          <div class="card-title">
            {{category.description}}
          </div>
          <div class="card-subtitle">
            ISCO Code: {{category.codeISCO}}
          </div>
          <div *ngIf="searchInput.length >= 2" class="card-show-graph" (click)="goToGraphView($event)">
              <ion-icon ios="logo-buffer" md="logo-buffer"></ion-icon>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row class="card-background-page" *ngIf="occupations.length > 0">
      <ion-col col-12 col-md-6 col-lg-3 col-xl-2 *ngFor="let occupation of occupations; let i = index;">
        <ion-card (click)="occupationExtendByClick(occupation)">
          <div class="card-title">
              {{occupation.shortDescription}}
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>