page-list {
  .bar-button-menutoggle {
    color: white;
  }
  .back-button {
    color: white;
  }
  .toolbar-background {
    //background-color: rgba(240,240,240,1);
    /* can be treated like a fallback */
    background-color: #4b134f;
    /* will be "on top", if browser supports it */
    background-image: linear-gradient(45deg, #c94b4b, #4b134f);
    /* these will reset other properties, like background-position, but it does know what you mean */
    background: #4b134f;
    background: linear-gradient(45deg, #c94b4b  , #4b134f);
  }
  .toolbar-title {
    color: white;
  }

    ion-title {
      :first-letter {
        text-transform:capitalize;
      }
    }

    ion-item {
      padding-right: 16px;
    }


    .gradient { 
      background-color: #f3f3f3;
    }

    .card-background-page {
        
          ion-card {
            box-shadow: -1px 3px 10px #000;
            border-radius: 10px;
            background: linear-gradient(45deg, #c94b4b  , #4b134f);
            position: relative;
            text-align: center;
            min-height:200px;
          }
        
          .card-title {
            position: absolute;
            top: 20%;
            font-size: 2.0em;
            width: 100%;
            font-weight: bold;
            color: #fff;
          }
        
          .card-subtitle {
            font-size: 1.0em;
            position: absolute;
            top: 85%;
            height: 15%;
            width: 100%;
            color: #fff;
          }

          .card-show-graph {
            font-size: 1.0em;
            position: absolute;
            top: 85%;
            height: 15%;
            width: 100%;
            color: #fff;
            text-align: right;
            ion-icon {
              padding: 0 20px;
              font-size: 24px;
            }
          }
        
    }
}
