<ion-header>
    <ion-navbar>
        <ion-buttons left>
            <button class="backButton" ion-button (click)="goBack()">
                <ion-icon name="ios-arrow-back-outline"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title>Association Graph</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding no-bounce>
    <ion-grid>
        <ion-row>
            <ion-col col col-lg-3>
                <ion-scroll style="width:100%;height:80vh" scrollY="true">
                    <ion-row scroll="true">
                        <ion-col *ngIf="showResetGraphButton && (showResetGraphButton.codeISCO || showResetGraphButton.node)" col col-12 (click)="resetGraphHighlighting()">
                            <button ion-button color="light" full>Reset Graph</button>
                        </ion-col>
                        <ion-col col col-12 *ngFor="let item of uniqueISCO; let i = index;" (click)="highlightISCO(item.codeISCO)">
                            <div style="display:inline-block">ISCO: {{item.codeISCO}}</div>
                            <div style="display:inline-block; width:15px; height:15px; border-radius:5px; margin-top:5px;" [style.background-color]="item.groupColor"></div>
                            <div>{{item.description}}</div>
                        </ion-col>
                    </ion-row>
                </ion-scroll>
            </ion-col>
            <ion-col col col-lg-9 class="svgComponent">
                <svg preserveAspectRatio="none" class="graph" [attr.height.px]="this.platform.height() * 80/100" [attr.width.px]="this.platform.width() < 960 ? this.platform.width() * 95 / 100 : this.platform.width() * 70/100">
                </svg>
            </ion-col>
        </ion-row>
    </ion-grid>

    <!-- <div id="viz"></div> -->
</ion-content>