<ion-header>
  <ion-navbar> 
    <ion-buttons left>
      <button class="backButton" ion-button (click)="goBack()">
        <ion-icon name="ios-arrow-back-outline"></ion-icon>
      </button>
    </ion-buttons>
    
    <ion-title>Occupation Associations</ion-title>
    
  </ion-navbar>
</ion-header>

<ion-content class="gradient">
  <hexagon-component [hidden]="!occupation" [occupation]="occupation"></hexagon-component>
</ion-content>