<ion-grid>
    <ion-row>
        <ion-col col col-lg-3 col-12>
            <ion-row class="occupationDetails" [hidden]="showSkillButtons.common || showSkillButtons.diff">
                <ion-row>
                    <ion-col class="occupationLabel" col col-12>
                        Short Description:
                    </ion-col>
                    <ion-col col col-12>
                        {{selectedOccupation && selectedOccupation.shortDescription ? selectedOccupation.shortDescription : ''}}
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col class="occupationLabel" col col-12>
                        Code ISCO Label:
                    </ion-col>
                    <ion-col col col-12>
                        {{selectedOccupation && selectedOccupation.codeISCOLabel ? selectedOccupation.codeISCOLabel : ''}}
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col class="occupationLabel" col col-12>
                        Code ISCO:
                    </ion-col>
                    <ion-col col col-12>
                        {{selectedOccupation && selectedOccupation.codeISCO ? selectedOccupation.codeISCO : ''}}
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col class="occupationLabel" col col-12>
                        Long Description:
                    </ion-col>
                    <ion-col col col-12>
                        {{selectedOccupation && selectedOccupation.longDescription ? selectedOccupation.longDescription : ''}}
                    </ion-col>
                </ion-row>
                <!-- <ion-row [hidden]="!selectedNode && !selectedNodeDetailsDone" col col-12>
                    <ion-col col col-12 (click)="showCommonSkills()">
                        Click to show Common Skills
                    </ion-col>
                    <ion-col col col-12 (click)="showDiffSkills()">
                        Click to show Different Skills
                    </ion-col>
                </ion-row> -->
            </ion-row>

            <ion-scroll [hidden]="!showSkillButtons.common" style="width:100%;height:100vh" scrollY="true">
                <ion-row (click)="goBack()">Go Back</ion-row>
                <ion-list scroll="true">
                    <ion-item>
                        <div>commonSkills1</div>
                        <div>commonSkills2</div>
                        <div>commonSkills3</div>
                        <div>commonSkills4</div>
                        <div>commonSkills1</div>
                        <div>commonSkills2</div>
                        <div>commonSkills3</div>
                        <div>commonSkills4</div>
                        <div>commonSkills1</div>
                        <div>commonSkills2</div>
                        <div>commonSkills3</div>
                        <div>commonSkills4</div>
                        <div>commonSkills1</div>
                        <div>commonSkills2</div>
                        <div>commonSkills3</div>
                        <div>commonSkills4</div>
                        <div>commonSkills1</div>
                        <div>commonSkills2</div>
                        <div>commonSkills3</div>
                        <div>commonSkills4</div>
                        <div>commonSkills1</div>
                        <div>commonSkills2</div>
                        <div>commonSkills3</div>
                        <div>commonSkills4</div>
                    </ion-item>
                </ion-list>
            </ion-scroll>
            <ion-scroll [hidden]="!showSkillButtons.diff" style="width:100%;height:100vh" scrollY="true">
                <ion-row (click)="goBack()">Go Back</ion-row>
                <ion-list scroll="true">
                    <ion-item>
                        <div>diffSkills1</div>
                        <div>diffSkills2</div>
                        <div>diffSkills3</div>
                        <div>diffSkills4</div>
                        <div>diffSkills1</div>
                        <div>diffSkills2</div>
                        <div>diffSkills3</div>
                        <div>diffSkills4</div>
                        <div>diffSkills1</div>
                        <div>diffSkills2</div>
                        <div>diffSkills3</div>
                        <div>diffSkills4</div>
                        <div>diffSkills1</div>
                        <div>diffSkills2</div>
                        <div>diffSkills3</div>
                        <div>diffSkills4</div>
                        <div>diffSkills1</div>
                        <div>diffSkills2</div>
                        <div>diffSkills3</div>
                        <div>diffSkills4</div>
                        <div>diffSkills1</div>
                        <div>diffSkills2</div>
                        <div>diffSkills3</div>
                        <div>diffSkills4</div>
                    </ion-item>
                </ion-list>
            </ion-scroll>
        </ion-col>
        <ion-col col col-lg-9 col-12 class="svgComponent">
            <svg preserveAspectRatio="none" class="graph" [attr.height.px]="this.platform.height() * 80/100"
                [attr.width.px]="this.platform.width() < 960 ? this.platform.width() * 95 / 100 : this.platform.width() * 70/100">
            </svg>
        </ion-col>
    </ion-row>
</ion-grid>