hexagon-component {

  .occupationDetails {
    ion-col:first-letter {
      text-transform:capitalize;
    }
    .occupationLabel {
      font-size:18px;
      font-weight: bold;
    }
  }

  .svgComponent {
    text-align: center;
  }
  
  .node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 3px;
  }

  .node text { font: 12px sans-serif;}

  .link {
    fill: none;
    stroke: #ccc;
    stroke-width: 0.5px;
  }

  .node-0 {
    path {
    fill:#3B3A4F;
    opacity: 0.3;
    }
  }
  .node-1 {
    path {
    fill:#3B3A4F;
    opacity: 0.3;
    }
  }

  .node-2 {
    path {
    fill:#3B3A4F;
    opacity: 0.3;
    }
  }

  .node-3 {
    path {
    fill:#3B3A4F;
    opacity: 0.3;
    }
  }

  .node-4 {
    path {
    fill:#3B3A4F;
    opacity: 0.3;
    }
  }

  .node-5 {
    path {
    fill:#3B3A4F;
    opacity: 0.3;
    }
  }
}
      